__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docker
letsencrypt/
certbot-www/
